
/* 1920 laptop monitor*/
@media (min-width: 1400px) and (max-width: 2300px) {
        /* Sidebar */
      /* #sidebar {
        min-width: 310px;
        max-width: 310px;
        }
        #sidebar ul li a {
        padding: 24px;
        font-size: 1.8em;
        font-family:Oswald;
        letter-spacing: 2px;  
    }
     #sidebar .sidebar-header {
        padding: 25px;
        letter-spacing: 2px;
    }

       #sidebar .sidebar-header h3 {
        
        font-family:Oswald;
       font-size: 2.5em
    }*/
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;

        padding-top: 1rem;
        padding-bottom:  1rem;
    }

    /* Album */
   .albumist-margin {
    margin-left: 152px;
    
    }
    .artistlist-margin {
        margin-left: 152px;
        
    }
    .list_colum{
  padding: 0px 120px;
 
    }
    .portfolio-item img {
    width: 75%;
    padding: -50px;
    }
    .portfolio-item {
    margin-bottom: 90px;
    }
    .list_colum_item{
    padding: 12px;
    font-size: 19px;
    } 


}



/* 1366laptop monitor*/

@media (min-width: 1300px) and (max-width: 1400px) {

   /*register login*/
    .wrap-login100 {
      width: 619px;
      height: 88%;
    }

    /* home */
        /* upeerpart */
    .logo-size{
      
      width: 400px;
      height: 208px;
    }
    .home-content-feel {
    
    font-size: 45px;
    
    }
    .btn-general {
    
    font-size: 15px;
    
    padding: 10px 39px 10px 39px;
    
    }
    /*Iframe*/
    iframe {
        width: 1024px;
    }
    /*searchbt*/
    .srcbtn{
        margin-left: -53;
    }
       
}


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {
    /*register*/
    .wrap-login100 {
      width: 619px;
      height: 88%;
    }
    /*searchbt*/
    .srcbtn{
        margin-left: -100;
    }
    /* home */
        /* upeerpart */
    .container{
        margin-left: 100px;
    }

    .logo-size{
      
      width: 400px;
      height: 208px;
    }
    .home-content-feel {
        font-size: 45px;
    }
    .btn-general {
        font-size: 15px;
        padding: 10px 39px 10px 39px;
    }
     
    .align-toMusic-logo{
        margin-bottom: -65px;
    }
    .align-toMusic-button{
        margin-top: -61px;
    }
      /*Iframe*/
    iframe {
        width: 900px;
    }
 

}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    
    .srcbtn{
        margin-left: -120;
    }

     /*home*/
         /* upeerpart */
    .container{
        margin-left: 50px;
    }

    .logo-size{
      
      width: 400px;
      height: 208px;
    }
    .home-content-feel {
        font-size: 45px;
    }
    .btn-general {
        font-size: 15px;
        padding: 10px 39px 10px 39px;
    }
     
    /* .align-toMusic-logo{
        margin-bottom: -65px;
    }
    .align-toMusic-button{
        margin-top: -61px;
    } */
        .align-toMusic-logo{
        margin-bottom: -10px;
    }
    .align-toMusic-button{
        margin-top: 10px;
    }
    /*Iframe*/
     iframe {
        width: 700px;
    }
  
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
   
    /*home*/
            /* upeerpart */
    .container{
        margin-left: 50px;
    }

    .logo-size{
      
      width: 400px;
      height: 208px;
    }
    .home-content-feel {
        font-size: 45px;
    }
    .btn-general {
        font-size: 15px;
        padding: 10px 39px 10px 39px;
    }
        .align-toMusic-logo{
        margin-bottom: -10px;
    }
    .align-toMusic-button{
        margin-top: 10px;
    }
    /* Contact */
    ul.office-details li {
        margin-right: 15px;
    }
    ul.office-details li i {
        width: 25px;
    }
    /* Album */
 
    .list_colum {
        padding: 0px 7px;
    }
    /*Music player*/
    .jp-interface .jp-artist{
        display: none;
    }
     /*Iframe*/
     iframe {
        width: 583px;
    }
}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
/* midea player button willbe half from here */
@media (min-width: 481px) and (max-width: 767px) {
    /*home*/
        .align-toMusic-logo{
        margin-bottom: 0px;

    }
    .align-toMusic-button{
        margin-top: 0px;

    }
    /* Contact */
    #contact-left {
        text-align: center;
    }
    .office {
        margin-bottom: 40px;
    }
    ul.office-details li {
        display: block;
        margin-top: 25px;
    }
    ul.office-details li i {
        width: auto;
        display: block;
        margin-bottom: 3px;
    }
    ul.social-list {
        margin-bottom: 40px;
    }
     /* Album */
 
    .list_colum {
        padding: 0px 7px;
    }
    /* Navbar */
 
    .site-nav-wrapper {
    
    margin-left: 260px;
    }
    /*Music player*/
    .jp-interface .jp-artist{
        display: none;
    }
    /*Iframe*/
     iframe {
        width: 300px;
    }

}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
        /*home*/

    .logo-size {
        width: 270px;
        height: 140px;
        margin-left: 12px;
    }
    .home-content-feel{
 
font-size: 48px;

}
.btn-general {
    
    padding: 8px 30px 8px 30px;
    
}
        .align-toMusic-logo{
        margin-bottom: 0px;

    }
    .align-toMusic-button{
        margin-top: 15px;}
    
    /* Singli album songlist */

    .entityInfo .rightSection {
    width: 60%;
    float: left;
    padding: 0px 10px 0px 20px;
    box-sizing: border-box;
}
    .entityInfo .rightSection p {
    margin-top: -8px;
}
    .tracklistRow .trackInfo .trackName {
    margin-left: 20px;
}
.tracklistRow .trackInfo span { 
    margin-left: 20px;
}
.tracklistRow .trackOptions img {
    width: 21px;
   }

 /* Album */
 #isotope-filters {
    margin-bottom: 5px;
    padding: 19px 0px 0px 0px;
    margin-left: 25px;
}  
.list_colum {
    padding: 0px 7px;
}
/* Navbar */
 
.site-nav-wrapper {

    margin-left: 0px;
    margin-right:  140px;
}

/* Music player*/


.jp-audio .jp-controls {
   width: 246px;
   top: 14px;; }
.jp-volume-controls {
    left: 31px;
    top: 113px;
  }
.jp-audio .jp-type-playlist .jp-toggles {
    left: 173px;
    top: 110px;
  }
.jp-interface .jp-artist {
    margin: -79px;
    margin-right: 16px;
    width: 285px;
    float: right;
}

.jp-artistPic {
    width: 0px;
    height: 0px;
}
.jp-audio .jp-interface {
    height: 149px;
}
.jp-audio .jp-type-playlist .jp-progress {
   left: 32px;
   width: 214px;
   top: 86px;
}
.jp-audio .jp-type-playlist .jp-time-holder{
  left: 260px;
   width: 214px;
   top: 80px;
}
.jp-audio .jp-type-playlist .jp-time-holder .jp-duration{
 display: none;
}
.jp-audio .jp-progress {
    top: 55px;
    height: 8px;
}
.jp-time-holder {
    /*display: none;*/
}
.jp-stop{
    display: none;
}
/*Iframe*/
     iframe {
        width: 230px;
    }





















}
/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {
        /*home*/
        .align-toMusic-logo{
        margin-bottom: 0px;

    }
    .align-toMusic-button{
        margin-top: 10px;

}
/* Singli album songlist */

.tracklistRow .trackOptions img {
    width: 16px;
   }
 /* Album */
 #isotope-filters {
    margin-bottom: 5px;
    padding: 9px 0px 0px 0;
    margin-left: 25px;
} 
.list_colum {
    padding: 0px 7px;
}
/* Navbar */
 
    .site-nav-wrapper {
    
    margin-left: 60px;
    }

}    